* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('./Newsletter/Radison.webp');
  background-size: cover;
}
.logo {
  font-weight: bold 900;
  color: white;
  margin: 0;
}
header {
  background-color: rgba(25, 36, 255, 0.921);
  color: #fff;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-left: 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.title {
  font-weight: 900;
  margin: 50px;
  font-size: 25px;
  color: white;
}

.heading {
  text-align: center;
  background: linear-gradient(to right, blue, rgb(255, 255, 255));
  border-radius: 30px 0px 30px 0px;
  height: 100px;
  color: white;
  font-size: 30px;
  font-weight: 900;
  justify-content: center;
  display: flex;
  align-items: center;
}
p {
  color: white;
}
.todaynews img {
  height: 100px;
  width: 150px;
  float: left;
  margin: 10px;
}
.container {
  background-color: rgb(223, 228, 255);
  text-align: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
}

.todaynews {
  background-color: rgba(25, 36, 255, 0.921);
  width: 300px;
  margin: 10px;
  color: white;
  border-radius: 5px;
  transition: all 1s;
}

.todaynews:hover {
  background-color: transparent;
  color: black;
}

.name {
  color: white;
}
.content {
  background-color: rgba(25, 36, 255, 0.921);
  transition: all 1s;
  height: 500px;
  width: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}
.contents {
  display: flex;
}
.content p {
  font-size: 20px;
  margin: 20px;
  font-style: italic;
}
.content h3 {
  padding: 20px;
  font-weight: 900;
  font-size: 25px;
}
.content img {
  height: 200px;
  width: 300px;
  padding: 10px;
}
.content:hover {
  box-shadow: 5px 10px 2px rgb(223, 228, 255);
  background-color: darkblue;
}
p {
  font-size: 10px;
  font-weight: 100;
  font-style: italic;
}
.viewall {
  text-decoration: none;
  color: rgb(7, 11, 96);
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  float: right;
  transition: all 1s ease;
}
.viewall:hover {
  background-color: blue;
  color: white;
}

main {
  margin: 10px;
}

/* Footer Styles */
footer {
  background-color: rgba(25, 36, 255, 0.921);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: sticky;
  bottom: 0;
  width: 100%;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  /* Adjustments for small screens */

  header {
    padding: 5px;
  }

  nav ul li a {
    padding: 5px;
  }

  main {
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  /* Adjustments for extra small screens */

  h1 {
    font-size: 24px;
  }

  .newsletter-list li {
    margin-bottom: 20px;
  }
}

.form {
  background-color: blue;
  width: 500px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 3s ease;
}

.Subscribe {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form:hover {
  background-color: transparent;
}
.name {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 10px;
}
.email {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 10px;
}

.button {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
}


